VITE_NEWS_API_KEY=279d11ff796a4b4594b54e7d92a766ad
VITE_ELEVEN_LABS_API_KEY=sk_b762145859885fe779dd90445349d714ae813f96df82b901
VITE_OPENAI_API_KEY=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
VITE_ELEVEN_LABS_VOICE_ID=xetZDEHqRj4DLIWtA819
